@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR');

* {
	padding: 0;
	margin: 0;
}

header {
		background-color: #FFFFFF;
		padding-top: 200px;
		padding-left: 200px;
		padding-bottom: 65px;
}

section {
		background-color: #FFFFFF;
		padding-top: 30px;
		padding-bottom: 90px;
		padding-left: 0px;
}

h1 {
	font-family: 'Noto Serif KR';
	font-size: 35px;
	color: #000000;
	padding-top: 100px;
	padding-left: 5px;
	padding-bottom: 120px;
}

p {
	font-family: 'Noto Serif KR';
	font-size: 90px;
	color: #000000;
}

body {
	text-align: left;
	color: #0000FF ;
	font-family: 'Noto Serif KR';
}

img {
	width: 1194px;
	padding-top: 24px;
	padding-left: 0px;
	padding-right: 24px;
}

#img_full_width: {
	width: 2400px;
}

footer {
	background-color: #FFFFFF;
	padding-top: 30px;
	padding-bottom: 100px;
	padding-left: 240px;
}

h3 {
	text-align: left;
	padding-left: 0px;
	padding-top: 20px;
	font-family: 'Noto Serif KR';
	font-size: 36px;
	color: #000000;
	width: 1600px;
}

h4 {
	text-align: left;
	padding-left: 2px;
	font-family: 'Noto Serif KR';
	font-size: 40px;
	color: #000000;
}

hr {
	border-bottom: 1px solid black;
	padding-top: 0px;
	padding-left: 200px
}

 span{
	font-family: 'Noto Serif KR';
	font-size: 90px;
	color: #000000;
}

div {
	padding-left: 0px;
}

#wrapper {
	background-color: #FFFFFF;
	max-width: 2400px;
	margin: 0 auto;
}

header {
	background-color: #FFFFFF;
	padding: 20px;
}

header a {
	text-decoration: none;
}

header a:hover span{
	color:blue;
}

#two_column {
		background-color: #FFB7CF;
		padding: 20px;
}

#left {
	background-color: #E582A2;
	padding-left: 0px;
	padding-right: 100px;
	float: left;
	width: 50%;

#right {
	background-color: #E55B88;
	padding left: 100px;
	float: right;
	width: 33%;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0
	content: " ";
	clear: both
	height: 0;
}
