@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR');

* {
	padding: 0;
	margin: 0;
}

section {
		background-color: #FFFFFF;
		padding: 200px;
}

	h1 {
	font-family: 'Noto Serif KR';
	font-size: 80px;
	color: #000000;
}

p {
	font-family: 'Noto Serif KR';
	font-size: 80px;
	color: #000000;
}

body {
	text-align: left;
	color: #0000FF ;
	font-family: 'Noto Serif KR';
}

img {
	height:700px;
	padding: 12px;
}