@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR');

* {
	padding: 0;
	margin: 0;
}

section {
		background-color: #FFFFFF;
		padding: 200px;
}

	h1 {
	font-family: 'Noto Serif KR';
	font-size: 35px;
	color: #000000;
	padding-bottom: 100px;
}

p {
	font-family: 'Noto Serif KR';
	font-size: 90px;
	color: #000000;
	border-bottom: 1px solid black;
}

body {
	text-align: left;
	color: #0000FF ;
	font-family: 'Noto Serif KR';
}

img {
	height:700px;
	padding: 12px;
}

footer {
	border-top: 1px solid black;
	text-align: left;
	font-family: 'Noto Serif KR';
	font-size: 40px;
	color #000000;
	padding: 200px;
}