@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR');

* {
	padding: 0;
	margin: 0;
}

article {
		background-color: #E89C6C;
		padding-top: 200px;
		padding-left: 200px;
		padding-bottom: 65px;
}

section {
		background-color: #FFE2B8;
		padding-top: 100px;
		padding-bottom: 100px;
		padding-left: 190px;
}

h1 {
	font-family: 'Noto Serif KR';
	font-size: 35px;
	color: #000000;
	padding-left: 5px;
	padding-bottom: 120px;
}

p {
	font-family: 'Noto Serif KR';
	font-size: 90px;
	color: #000000;
}

body {
	text-align: left;
	color: #0000FF ;
	font-family: 'Noto Serif KR';
}

img {
	height:700px;
	padding: 12px;
}

footer {
	background-color: #FF957E;
	padding-top: 70px;
	padding-bottom: 100px;
	padding-left: 180px;
}

h4 {
	text-align: left;
	padding-left: 15px;
	font-family: 'Noto Serif KR';
	font-size: 40px;
	color: #000000;
}

hr {
	border-bottom: 1px solid black;
	padding-top: 0px;
	padding-left: 200px
}

 span{
	font-family: 'Noto Serif KR';
	font-size: 90px;
	color: #000000;
}

div {
	padding-left: 0px;
}

wrapper {
	background-color: #FFFFFF;
	width: auto width;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
